<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Strength Meter
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!--<app-explore-container name="Password Security Meter"></app-explore-container>-->
  <p>Type your password to see how strong it is!</p>
  <p>
    <ion-item>
      <ion-label></ion-label>
      <ion-input type="password" [formControl]="password"></ion-input>
    </ion-item>
  </p>
  <ion-button expand="block" (click)="onRunProgram()">Run Program</ion-button>
  <p>
    Please note that although our program will only test a few things, keep
    these things in mind:
  </p>
  <p>
    Never, ever, ever use your personal information.
  </p>
  <p>
    Try not to use dictionary words.
  </p>
  <p>
    Strength Meter: {{meterStrengthWidth}}/100
  </p>
  <div class="meter-display-container">
    <div
      class="meter-display"
      [ngStyle]="{'background-color': meterStrengthColor, 'width': meterStrengthWidth+'%'}"
    ></div>
  </div>
</ion-content>
